.App {
  xtext-align: center;
  display: flex;
  height: 500px;
}

.App-left {
  /* width: 150px; */
  flex: 150px 0 0 ;
  border-right: 1px solid;
  text-align: center;
}

.App-right {
  flex-grow: 1;
}

.App-header {
  border-bottom: 1px solid;
}
